<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>

    <form #formModel="ngForm" (ngSubmit)="onSubmitForm(formModel)" class="mt-4">
        <!-- <div class="flex-row"> -->
        <mat-form-field>
            <mat-label>Code</mat-label>
            <input type="text" matInput [(ngModel)]="tagState.tag.code" #code="ngModel"
                name="tag-code" placeholder="Ex code-xxxx-xxxx"  pattern="^code-[0-9]{4}-[0-9]{4}$"  required>
            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            <!-- <mat-error   *ngIf="(code.errors?.['required']">code is <strong>required</strong></mat-error> -->
            <mat-error *ngIf="code.invalid && (code.dirty || code.touched || formModel.submitted)">
                <span *ngIf="code.errors?.['required']">code is <strong>required</strong></span>
                <p  *ngIf="code.errors?.['pattern']"> pattern must be code-xxxx-xxxx</p>
            </mat-error>
        </mat-form-field>


          <mat-form-field>
            <mat-label>Workstation</mat-label>
            <mat-select  [(ngModel)]="tagState.tag.workstation" name="tag-workstation" #workstation="ngModel"
              [compareWith]="compareWorkstation">
              <mat-option *ngFor="let wOption of wsState.listWorkstations" [value]="wOption">{{ wOption.name }}</mat-option>
            </mat-select>
          </mat-form-field>  

        <button  *ngIf="!data.isedit" mat-raised-button color="primary" [disabled]="formModel.invalid" type="submit">
            <mat-icon>add</mat-icon>Add Tag</button>
        <button  *ngIf="data.isedit" mat-raised-button color="primary" [disabled]="formModel.invalid" type="submit">
                <mat-icon>edit</mat-icon>Edit Tag</button>
        <a (click)="closepopup()" mat-raised-button color="primary-color">Close</a>
    </form>

</mat-dialog-content>