<div class="row mb-0">
    <div class="col-12">
                <div class="d-flex flex-row-reverse">
                    <button (click)="onClickRefresh()" mat-raised-button color="primary-color" class="mr-2">
                        <mat-icon>cached</mat-icon>Refresh</button>
                </div>
    </div>
</div>
<div class="row mb-0">
    <div class="col-12">
         <figure class="highcharts-figure">
            <div id="container-stock-chart-robot"></div> 
        </figure>
    </div>
</div>