<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Company name</h6>
          <p>
            Enova robotics
          </p>
        </div>
       

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Social networks
          </h6>
          <p> <i class="pi pi-facebook"></i>&nbsp;
            <a href="https://www.facebook.com/enovarobotics/" class="text-reset">facebook</a>
          </p>
          <p> <i class="pi pi-twitter"></i>&nbsp;
            <a href="https://twitter.com/ENOVARobotics" class="text-reset">twitter</a>
          </p>
          <p>  <i class="pi pi-linkedin me-3"></i>&nbsp;
            <a href="https://www.linkedin.com/company/enovarobotics/" class="text-reset">linkedin</a>
          </p>
          <p>  <i class="pi pi-instagram me-3"></i>&nbsp;
            <a href="https://www.instagram.com/enovarobotics/" class="text-reset">instagram</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="pi pi-building me-3"></i> Novation City Technopole de Sousse Sousse, 4051, TN</p>
          <p>
            <i class="pi pi-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="pi pi-phone me-3"></i> + 216 31 306 707</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">https://www.enovarobotics.eu/fr</a>
  </div> -->
</footer>