<div class="btn-group">
    <!-- <i class="las la-bell dropdown-toggle cursor-pointer" 
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 24px;">
    </i>   -->
 

<!-- https://codepen.io/mitsuruog/pen/LLyQNq -->
    <div class="notifier green cursor-pointer"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="las la-bell dropdown-toggle"></i>  
        <div class="badge"  [ngStyle]="{'background': badge.color}">{{badge.count}}</div>
    </div>


       

    
    <div class="dropdown-menu dropdown-menu-right mt-4" (click)="stopPropagation($event)">
        <div class="card">
            <div class="card-header" >
                <div class="d-flex justify-content-between">
                <h1>Notifications <span>({{notifications.length}})</span></h1>
                <i class="las la-cog"  routerLink="/user/edit" ></i>
                </div>
                <div class="d-flex justify-content-between">
                    <h3>Earlier</h3>
                    <a routerLink="/notifications" class="cursor-pointer">View all</a>
                </div>
            </div>
            <ul class="list-group list-group-flush   mx-3"  style="overflow: scroll;"  [style]="stateOver ? 'max-height: 380px;' :  'max-height: 66vh;'">
                <li *ngFor="let notification of notifications  let i = index" [hidden]="i >= 6 && stateOver"
                    class="list-group-item notification-item">
                    <div class="w-20">
                        <div class="photo-profile-container  mr-2">
                            <img [src]="notification.senderImageUrl ? notification.senderImageUrl : 'assets/images/user/unkhow-user.jpg' "
                                class="photo-profile" alt="user">
                            <img *ngIf="notification.level" class="photo-profile-badge" alt="badge" [src]="notification.level ==  'ERROR' ? '/assets/images/notification/level/error-level.png' :
                    notification.level ==  'WARNING' ? '/assets/images/notification/level/warning-level.webp' :
                    notification.level ==  'TRACE' ? '/assets/images/notification/level/trace-level.png' :
                    '/assets/images/notification/level/info-level.png'">
                        </div>
                    </div>
                    <div class="w-80">
                        <div class="text-notification"><strong>{{notification.senderName}}</strong>&nbsp;
                            {{notification.message}}
                        </div>
                        <small class="text-muted d-block">{{ notification.createdAt| dateAgo }}</small>
                    </div>
                </li>
                <!-- Add more notifications as needed -->
            </ul>
            <div class="card-footer">
                <button class="btn btn-light" (click)="onClickOverNotifications()"> {{ stateOver ? "View all
                    notifications": "Less notifications" }}</button>
            </div>
        </div>
    </div>
  </div>