<mat-card>
    <mat-card-content>
        <h4>
            <strong class="mr-3">Robots({{robotState.panelRobot!.count}}) :</strong>
            <span class="mr-3">Connected: {{robotState.panelRobot!.connected}}</span>
            <span class="mr-3">Running: {{robotState.panelRobot!.running}}</span>
            <span class="mr-3">EMS/PAUSE: {{robotState.panelRobot!.operationStatus}}</span>
            <span>Auto: {{robotState.panelRobot!.auto}}</span>
        </h4>
    </mat-card-content>
</mat-card>