<mat-card>
    <mat-card-content>
        <h4>
            <strong class="mr-3">Robots({{this.robotService.panelRobot.count}}) :</strong>
            <span class="mr-3">Connected: {{this.robotService.panelRobot.connected}}</span>
            <span class="mr-3">Running: {{this.robotService.panelRobot.running}}</span>
            <span class="mr-3">EMS/PAUSE: {{this.robotService.panelRobot.operationStatus}}</span>
            <span>Auto: {{this.robotService.panelRobot.auto}}</span>
        </h4>
    </mat-card-content>
</mat-card>