mat-card {
    display: inline-block;
}


.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 0.5;
    flex-basis: 0;
    margin-right: 5px;
    align-items: center;
  }


.overlay-container {
    position: relative;
    max-width: 550px;
    min-width: 540px;
    height: 50px;
    z-index: 2;
  }
  
.overlay-accordion {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }  