<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/logoEnovaRobotics-1-04-white.png" class="img-fluid mb-4">
            </div>
            <div class="col-md-6 py-5 pt-5">
                <div class="card shadow h-100 py-2 card-border px-5">
                    <img src="assets/images/SEBN-LOGO-preview.png" class="img-sebn-logo mt-5">
                    <h1 class="font-weight-bold mb-0 mt-5">Success !!</h1>
                    <p class="mt-2">A email has been send to <strong>{{email}}</strong>. Please check for an email and click on  link to Activate Account.</p>
                    <button type="submit" class="btn btn-primary gradient-custom mt-2" routerLink="/sign-in">Back Home</button>
                </div>
            </div>
        </div>
    </div>
</section>