<div class="row mb-3">
    <div class="col-md-12">
        <div class="d-flex flex-row">
            <app-panel-robot></app-panel-robot>
            <button (click)="onClickAdd()" class="ml-auto mt-auto mb-auto" mat-raised-button color="primary-color">
                <mat-icon>add</mat-icon>Add new workstation</button>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="mat-elevation-z1">
            <div class="table-container">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
                        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="enable">
                        <th mat-header-cell *matHeaderCellDef>enable</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="icon-enable" *ngIf="element.enable">check_circle_outline</mat-icon>
                            <mat-icon class="icon-disable" *ngIf="!element.enable">highlight_off</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="NRobot">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>NRobot</th>
                        <td mat-cell *matCellDef="let element">{{ element.robots.length }}</td>
                    </ng-container>
                    <ng-container matColumnDef="NTag">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>NTag</th>
                        <td mat-cell *matCellDef="let element">{{ element.tags.length }}</td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex flex-row">
                                <button class="ml-2" mat-raised-button color="primary-color"(click)=" onClickEdit(element)">
                                    <mat-icon>edit</mat-icon>edit
                                </button>
                                <button class="ml-2" mat-raised-button color="primary-color"(click)="onClickDelete(element.id)">
                                    <mat-icon>delete_forever</mat-icon>delete
                                </button>
                                <a class="ml-2" mat-raised-button color="primary-color"
                                [routerLink]="['/workstation', element.id]" ><mat-icon>info</mat-icon>details</a>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsWorkstation"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsWorkstation"></tr>
                </table>
            </div>
            <br />
            <mat-paginator #paginatorWorkstation [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>