<!--<p>page-error works!</p>-->
       <!-- Wrapper Start -->
    
       <div class="wrapper" >
        <div class="container p-0">
            <div class="row no-gutters">
                <div class="col-sm-12 text-center">
                    <div class="iq-error position-relative mt-3">
                        <img src="assets/images/error/robot-404.gif" style="border-radius: 50px;" 
                        class="img-fluid iq-error-img" alt="">
                        <!-- <h1 class="text-in-box">404</h1> -->
                        <h2 class="mb-0 mt-3 text-white">Oops! This Page is Not Found.</h2>
                        <p class="text-white">The requested page dose not exist.</p>
                        <a class="btn btn-outline-light mt-3 text-white" href="index.html"><i class="ri-home-4-line"></i>Back to Home</a>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!-- Wrapper END -->