
.containerx{
    position: relative;
    top:0px;
    padding-right: 0px;
	margin-left: 90px;
    margin-right: 15px;

}
@media (min-width:576px) {
	.container {max-width: 576px}
}

@media (min-width:768px) {
	.container {max-width: 768px}
}

@media (min-width:992px) {
	.container {max-width: 992px}
}

@media (min-width:1200px) {
	.container {max-width: 1200px}
}

@media (min-width:1400px) {
	.container {max-width: 1400px}
}
/*
.container { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
*/
.content-page{
    min-height: 100vh;
    background-color: var(--platinum);  
    overflow: hidden;
    padding: 90px 0px 0;
    -webkit-transition: all 0.3s ease-out 0s; 
    -moz-transition: all 0.3s ease-out 0s; 
    -ms-transition: all 0.3s ease-out 0s; 
    -o-transition: all 0.3s ease-out 0s; 
    transition: all 0.3s ease-out 0s; 
}