<div class="row mb-3">
    <div class="col-md-12">
        <div class="d-flex flex-row">
            <app-panel-robot></app-panel-robot>
            <button (click)="onClickAdd()" class="ml-auto mt-auto mb-auto" mat-raised-button color="primary-color">
                <mat-icon>add</mat-icon>
                Add new robot
            </button>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <mat-card class="example-card col-md-6" *ngFor="let card of obs | async">
        <mat-card-header>
            <!-- <div class="avatar-circle" [ngClass]="getStatusClass(card.statusRobot)"></div> -->
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{card.name}}</mat-card-title>
            <mat-card-subtitle>{{card.workstation.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>created</strong> : {{  card.createdAt   | dateAgo }}</p>
            <p><strong>Status</strong> : {{card.statusRobot}}</p>
            <p><strong>Mode</strong> : {{card.modeRobot}} </p>
            <p><strong>status battery</strong> : {{card.operationStatus}}</p>
            <!-- <p><strong>Type Func</strong> : {{card.typeFunction}}</p> -->
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/robot-avg/', card.name]">details</a>
        </mat-card-actions>
    </mat-card>
</div>
<mat-paginator #paginator [pageSize]="8" [pageSizeOptions]="[8, 16, 24]"></mat-paginator>