<div class="row mb-5">
    <h2 class="d-inline-block">{{ wsState.workstation.name }} <span> {{ wsState.workstation.enable ? 'is enabled' : 'is disabled' }}</span></h2> 


    <div class="col-sm-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
           <div class="iq-card-header d-flex justify-content-between">
              <div class="iq-header-title">
                 <h4 class="card-title">List Tags ({{wsState.workstation.tags!.length}})</h4>
              </div>
              <div class="iq-card-header-toolbar d-flex align-items-center">
                <a routerLink="/workstation/tags">View All</a>
             </div>
           </div>
           <div *ngIf="wsState.workstation.tags!.length>0"  class="iq-card-body" >
              <ul id="new-music" class="d-flex  m-0 p-0  custom-list-inline"  >
                 <li class="col-md-3" *ngFor="let cardTag of   wsState.workstation.tags" >
                    <mat-card class="example-card" >
                        <mat-card-header>
                            <!-- <div class="avatar-circle" [ngClass]="getStatusClass(card.statusRobot)"></div> -->
                            <div   mat-card-avatar class="header-image-tag"></div>
                            <mat-card-title>{{cardTag.code}}</mat-card-title>
                            <mat-card-subtitle>{{wsState.workstation.name}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p><strong>Description</strong> : {{cardTag.description}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>edit</button>
                            <button mat-button>delete</button>
                        </mat-card-actions>
                    </mat-card>
                 </li>
              </ul>
           </div>
        </div>
     </div>

    <div class="col-sm-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
           <div class="iq-card-header d-flex justify-content-between">
              <div class="iq-header-title">
                 <h4 class="card-title">List Robots ({{wsState.workstation.robots!.length}})</h4>
              </div>
              <div class="iq-card-header-toolbar d-flex align-items-center">
                <a routerLink="/robot-avg/list">View All</a>
             </div>
           </div>
           <div *ngIf="wsState.workstation.robots!.length>0"   class="iq-card-body">
              <ul id="new-music" class="d-flex  m-0 p-0  custom-list-inline"    >
                 <li class="col-md-3" *ngFor="let card of   wsState.workstation.robots">
                    <mat-card class="example-card" >
                        <mat-card-header>
                            <!-- <div class="avatar-circle" [ngClass]="getStatusClass(card.statusRobot)"></div> -->
                            <div   mat-card-avatar class="header-image-robot"></div>
                            <mat-card-title>{{card.name}}</mat-card-title>
                            <mat-card-subtitle>{{wsState.workstation.name}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p><strong>created</strong> : {{ wsService.formatDateAgo(card.createdAt)}}</p>
                            <p><strong>Status</strong> : {{card.statusRobot}}</p>
                            <p><strong>Mode</strong>  : {{card.modeRobot}} </p>
                            <p><strong>status battery</strong> : {{card.operationStatus}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>edit</button>
                            <button mat-button>delete</button>
                            <a   [routerLink]="['/robot-avg', card.name]"  mat-button>details</a>
                        </mat-card-actions>
                    </mat-card>
                 </li>
              </ul>
           </div>
        </div>
     </div>



     
</div>

 