<div class="row row-eq-height">
   <div class="col-md-12">
      <div class="row">
         <div class="col-md-12">
            <div class="iq-card iq-border-radius-20">
               <div class="iq-card-body">
                  <div class="row">
                     <div class="col-md-12 mb-3">
                        <h5 class="text-primary card-title"><i class="ri-pencil-fill"></i> Compose Message</h5>
                     </div>
                  </div>
                  <form class="email-form" #ComposeForm="ngForm" (ngSubmit)="onSubmitForm(ComposeForm)" >
                     <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">To:</label>
                        <app-container-chips  class="col-sm-10" [label]="'Mail To'" id="inputEmail3"
                        [listDefine]="mailState.listAddress" 
                        (onChange)="outputListMailTo($event)">
                        </app-container-chips>

                     </div>


                     <div class="form-group row">
                        <label for="inputEmail4" class="col-sm-2 col-form-label">Cc:</label>
                        <app-container-chips  class="col-sm-10" [label]="'Mail Cc'" id="inputEmail4"
                        [listDefine]="mailState.listAddress" 
                        (onChange)="outputListMailCC($event)">
                        </app-container-chips>
                     </div>
                     <div class="form-group row">
                        <label for="inputEmail5" class="col-sm-2 col-form-label">Bcc:</label>
                        <app-container-chips  class="col-sm-10" [label]="'Mail Bcc'" id="inputEmail5"
                        [listDefine]="mailState.listAddress" 
                        (onChange)="outputListMailBCC($event)">
                        </app-container-chips>
                     </div> 

                     <div class="form-group row">
                        <label for="subject" class="col-sm-2 col-form-label">Subject:</label>
                        <mat-form-field class="col-sm-10">
                           <mat-label>Subject about what you will send </mat-label>
                           <input [(ngModel)]="mailState.msg.subject" name="mail-subject-input" matInput placeholder="Ex. Reclamation" value="Sushi">
                        </mat-form-field>
                     </div>
                     <div class="form-group row">
                        <label for="subject" class="col-sm-2 col-form-label">Your Message:</label>
                        <!-- <mat-form-field class="col-sm-10">
                           <mat-label>Leave a message</mat-label>
                           <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                        </mat-form-field> -->



                        <!-- https://ej2.syncfusion.com/angular/documentation/rich-text-editor/getting-started?cs-save-lang=1&cs-lang=ts -->
                        <div class="col-sm-10">
                           <!-- <div [froalaEditor]  [froalaEditor]="options">Hello, Froala!</div>   -->

                          
                              <!-- <div id="editor-div" [froalaEditor]  [(froalaModel)]="editorContent"  name="editor-content-textarea" 
                              [froalaEditor]="options"></div> -->

                              <div id="editor-div" style="height: 400px;"></div>
                     
                        </div>
                        <div [innerHTML]="safeHtml"></div>

                     </div>
                     <div class="form-group row align-items-center">
                        <div class="d-flex flex-grow-1 align-items-center">
                           <div class="send-btn pl-3">
                              <button type="submit" class="ml-auto mt-auto mb-auto" mat-raised-button
                                 color="primary-color">
                                 <mat-icon>mail</mat-icon>Send
                              </button>
                           </div>
                           <div class="send-panel">
                              <label class="ml-2 mb-0 iq-bg-primary rounded" for="file">
                                 <button type="button" mat-raised-button (click)="fileInput.click()">
                                   <mat-icon>file_copy</mat-icon>Choose File
                                 </button>
                                 <input hidden (change)="onChangeFiles($event)" #fileInput type="file" id="file" multiple>
                               </label>
                               

                              <!-- <label class="ml-2 mb-0 iq-bg-primary rounded" for="file"> <input type="file" id="file" style="display: none"> <a><i class="ri-attachment-line"></i> </a> </label> -->
                              <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                                       class="ri-map-pin-user-line text-primary"></i></a> </label>
                              <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                                       class="ri-drive-line text-primary"></i></a> </label>
                              <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                                       class="ri-camera-line text-primary"></i></a> </label>
                              <label class="ml-2 mb-0 iq-bg-primary rounded"> <a href="javascript:void();"> <i
                                       class="ri-user-smile-line text-primary"></i></a> </label>
                           </div>
                        </div>
                        <div class="d-flex mr-3 align-items-center">
                           <div class="send-panel float-right">
                              <label class="ml-2 mb-0 iq-bg-primary rounded" for="file">
                                 <button type="button" mat-raised-button>
                                    <mat-icon>delete</mat-icon>draft </button>
                              </label>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>