<div class="row">
   <div class="col-sm-12 mb-2">
      <div class="iq-card-header d-flex justify-content-between">
         <div class="iq-header-title">
            <h4 class="card-title">Tracing</h4>
         </div>
         <button class="ml-2" mat-raised-button color="primary-color">
            <mat-icon>delete_forever</mat-icon>delete all</button>
      </div>
   </div>
   <div class="col-sm-12">
      <!-- <div class="iq-card"  *ngFor="let card of obs | async">
           <div class="iq-card-body">
              <ul class="notification-list m-0 p-0">
                 <li class="d-flex align-items-center">
                    <div class="user-img img-fluid">
                     <img  [src]="card.user.photo == null ? 'assets/images/user/unkhow-user.jpg'  : card.user.photo.downloadURL" alt="story-img" class="rounded-circle avatar-40">
                  </div>
                    <div class="media-support-info ml-3">
                       <h5>{{ card.description}}</h5>
                       <p class="mb-0">{{ traceService.formatDateAgo(card.timestamp)}}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <button  (click)="onClickDelete(card.id)" class="ml-2" mat-raised-button color="primary-color">
                          <mat-icon>delete</mat-icon>delete
                        </button>
                    </div>
                 </li>
              </ul>
           </div>
        </div> -->
      <mat-accordion>
         <mat-expansion-panel *ngFor="let trace of obs | async" class="mb-3">
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <div class="user-img img-fluid mr-3">
                     <img
                        [src]="trace.user == null ? 'assets/images/user/unkhow-user.jpg'  : trace.user.photo.downloadURL"
                        alt="story-img" class="rounded-circle avatar-40">
                  </div>
                  {{ trace.username }} - {{ traceService.formatDateAgo(trace.timestamp)}}
               </mat-panel-title>
               <mat-panel-description>
                  {{ trace.description }}
                  <button  (click)="onClickDelete(trace.id)" class="ml-2" mat-raised-button color="primary-color">
                     <mat-icon>delete</mat-icon>delete
                   </button>
               </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="ml-5" >
               <div class="d-flex flex-row">
                  <p *ngIf="trace.user != null">
                     <strong>User :</strong> {{ trace.user.firstname }} {{ trace.user.lastname }}<br>
                     <strong>matricule :</strong>{{ trace.user.matricule }}<br>
                     <strong>phone :</strong>{{ trace.user.phone }}<br>
                     <strong>email :</strong>{{ trace.user.email }}<br>
                     <strong>User ID:</strong> {{ trace.user.id }} <br>
                     <strong>User Created At:</strong> {{ trace.user.createdAt | date: 'medium' }} <br>
                  </p>
                  <p>
                     <strong>Class Name:</strong> {{ trace.className }} <br>
                     <strong>Method Name:</strong> {{ trace.methodName }} <br>
                  </p>
               </div>
            </div>
         </mat-expansion-panel>
      </mat-accordion>
      <mat-paginator #paginator [pageSize]="8" [pageSizeOptions]="[8, 16, 24]"></mat-paginator>
   </div>
</div>