.mat-mdc-raised-button.mat-primary-color {
    color: white;  
    background-color: var(--navy-blue); 
  }
  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }