.mat-mdc-raised-button.mat-primary-color {
    color: white;
    background-color: var(--navy-blue);
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  
  .table {
    width: 100%;
  }

  mat-header-cell, mat-cell {
    vertical-align: middle; 
    
  }

  .mat-column-name {
    width: 100px;
 
  }
  .mat-column-view {
    width: 96px;
    
  }
  .mat-column-statusRobot,
  .mat-column-modeRobot {
    width: 100px;
  }
  
  .mat-column-connection {
    width: 120px;
  }
  
  .mat-column-operationStatus {
    max-width: 80px;
    text-align: center;
  }
  
  
  .mat-column-levelBattery,
  .mat-column-speed {
    /*max-width: 150px;*/
    text-align: center;
    font-weight: 500;
    font-size: 15px;
  }

  td {
    vertical-align: middle; /* Center align content vertically */
  }
 

  .cell-danger {
    background-color: var(--danger);
  }
  
  .cell-steady {
    background-color: var(--success);
  }
  
  .cell-warning {
    background-color: var(--warning);
  }

