<div class="row mb-3">
  <div class="col-md-12">
    <div class="row">
      <div class="col-6">
        <app-panel-robot></app-panel-robot>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <div>
          <button (click)="onClickStopAllRobot()" mat-raised-button color="primary-color" class="mr-2">
            <mat-icon>play_arrow</mat-icon>Stop All Robot
          </button>
          <button (click)="onClickStartAllRobot()" mat-raised-button color="primary-color" class="mr-2">
            <mat-icon>pause</mat-icon>Start All Robot
          </button>
          <button (click)="onClickTrunOffAllRobot()" mat-raised-button color="primary-color" class="mr-2">
            <mat-icon>power_settings_new</mat-icon>Turn OFF All Robot
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col">
    <div class="mat-elevation-z1">
      <div class="table-container">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 table">
          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/robot-avg', element.name]" mat-button color="dark"
                aria-label="icon button for details robot">{{ element.name }}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef>view</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex flex-row">
                <a [routerLink]="['/dashboard/stock/', element.name]" mat-icon-button aria-label="Stock">
                  <mat-icon>timeline</mat-icon>
                </a>
                <button mat-icon-button aria-label="Gauge" (click)="openPopupRobotGuage(element.name)">
                  <mat-icon>av_timer</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="statusRobot">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.statusRobot }}</td>
          </ng-container>

          <ng-container matColumnDef="modeRobot">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode</th>
            <td mat-cell *matCellDef="let element">{{ element.modeRobot }}</td>
          </ng-container>

          <ng-container matColumnDef="connection">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>connection</th>
            <td mat-cell *matCellDef="let element">{{ element.connection }}</td>
          </ng-container>

          <ng-container matColumnDef="operationStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation Status</th>
            <td mat-cell *matCellDef="let element">{{ element.operationStatus }}</td>
          </ng-container>

          <ng-container matColumnDef="levelBattery">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>levelBattery</th>
            <td [ngClass]="cellColorLevelBattery(element.levelBattery)" mat-cell *matCellDef="let element">{{ element.levelBattery }}</td>
          </ng-container>
          <ng-container matColumnDef="speed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>speed</th>
            <td [ngClass]="cellColorSpeed(element.speed)" mat-cell *matCellDef="let element">{{ element.speed }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>