<div class="row mb-3">
  <div class="col-md-12">
    <div class="row">
      <div class="col-6">
        <app-panel-robot></app-panel-robot>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <app-global-button-control></app-global-button-control>
      </div>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col">
    <div class="mat-elevation-z1">
      <div class="table-container">
        <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 table">
          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                      
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="view">
            <mat-header-cell *matHeaderCellDef>view</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="d-flex flex-row">
                <a [routerLink]="['/dashboard/stock/', element.name]" mat-icon-button aria-label="Stock">
                  <mat-icon>timeline</mat-icon>
                </a>
                <button mat-icon-button aria-label="Gauge" (click)="openPopupRobotGuage(element.name)">
                  <mat-icon>av_timer</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statusRobot">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.statusRobot }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="modeRobot">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Mode</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.modeRobot }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="connection">
            <mat-header-cell *matHeaderCellDef mat-sort-header>connection</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon class="icon-success" *ngIf="element.connection == 'CONNECTED'">wifi</mat-icon>
              <mat-icon class="icon-danger" *ngIf="!(element.connection == 'CONNECTED')">wifi_off</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operationStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Operation Status</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.operationStatus }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="levelBattery">
            <mat-header-cell *matHeaderCellDef mat-sort-header>levelBattery</mat-header-cell>
            <mat-cell [ngClass]="cellColorLevelBattery(element.levelBattery)" *matCellDef="let element">{{ element.levelBattery }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="speed">
            <mat-header-cell *matHeaderCellDef mat-sort-header>speed</mat-header-cell>
            <mat-cell [ngClass]="cellColorSpeed(element.speed)"  *matCellDef="let element">{{ element.speed }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>